td,body,br,center,b,u,input,select,textarea,a,font,h4,h3,h2,h1,caption,pre
{
	font-family: verdana, tahoma, geneva, sans-serif;
	font-size: 14px;
}

big
{
	font-family: verdana, tahoma, geneva, sans-serif;
	font-size: 16px;
}

a
{
	text-decoration: underline;
}

a:hover
{
	background-color: #D6B78C;
}

.white
{
	color: #ffffff;
}

hr
{
	border-top: none;
	color: #b4b4b4;
	height: 1px;
	width: 100%;
}
